#images
  #struct
  #pinkie
#footer
  email:
  = link_to 'juliantoker@gmail.com', 'juliantoker@gmail.com'
  |
  about me:
  = link_to 'about.me/juliantoker', 'http://about.me/juliantoker'
  |
  github:
  = link_to 'juliantoker', 'https://github.com/juliantoker'
  %p &copy; 2012 Julian S. Toker all rights reserved.